{% extends 'base.html.twig' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>A list of users (total count: {{ pagination.getTotalItemCount }})</h1>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">
                        <a href="{{ path('list_users', {order:  sort == 'ASC' ? 'DESC' : 'ASC'}) }}">First Name</a>
                    </th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Phones</th>
                </tr>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">
                        <input type="text" id="first_name">
                    </th>
                    <th scope="col">
                    </th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody id="table_body">
                {% for user in pagination %}
                    <tr>
                        <th scope="row">{{ user.getId()}}</th>
                        <td>{{ user.getFirstName() }}</td>
                        <td>{{ user.getLastName() }}</td>
                        <td>
                            {% if user.getPhoneNumbers() is not empty %}
                                {{ user.getPhoneNumbers | join(', ') }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="col-md-12">
                {{ knp_pagination_render(pagination) }}
                </nav>
            </div>
        </div>
    </div>
</div>
{% endblock %}